<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/create" method="post">
      <input type='text' name='item' placeholder='Item'/>
      <input type='text' name='cetegory' placeholder='Cetegory'/>
    <button>Submit</button>
    </form>

  </body>
</html>
