<h2>Equipment Inventory</h2>

<input type="text" name="Item Name" value="Compass"><br>
<input type="text" name="Category" value="Essentials"><br>
<button type="button">Add to inventory</button>


<ul>
  {{#inventory}}
    <li>
      {{item}}
    </li>
  {{/inventory}}
</ul>
