body {
  height: 70vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(#000000, 0.85),
    rgba(#004e1a, 0.85)),
    url('forest-background.jpg');
  background-size: cover;
  background-position: top;
  text-align: center;
  position: relative;
  padding-top: 18vh;
  color: #e8e8e8;
  @media(
    min-width: 568px;
  ){
    height: 100vh;
  }
}
